/*Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Quicksand:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Quicksand:wght@300;400;500&family=Spartan:wght@100;200;300;400&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

/*variables establecidas*/
:root {
    --rojo: #F93051;
    --gris: #D7E0D8;
    --azulClaro: #A1DEDD;
    --azulMedio: #2F7899;
    --azulFuerte: #133255;
    --letraTitulo: 'Poiret';
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

::before,
::after {
    box-sizing: border-box;
}

body {
    font-family: 'Spartan', sans-serif;
    font-size: 20px;

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    text-decoration-color: none;
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 80px;
}


/*Atributos clases*/
.fila {
    display: flex;
    flex-wrap: wrap;
}

.columna {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.distribuir {
    justify-content: space-between;
}

.centrarElementos {
    align-items: center;
}

.caja {
    min-height: 100vh;
}

.padding-top {
    padding: 80px 0;
}

.simple-padding {
    padding: 20px 0;
}

.texto-contenedor,
.contenedor-img {
    width: 50%;
    padding: 0 15px;
}

.container {
    max-width: 1190px;
    margin: auto;
}

.contenedor-img {}

.contenedor-img img {
    width: 90%;
    border-radius: 10px;
}

.contenedor-img .img-box {
    position: relative;
}

.contenedor-img .img-box h3 {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    max-width: 250px;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}

/* botones */
.boton {
    display: inline-block;
    padding: 10px 30px;
    background-color: transparent;
    border-radius: 30px;
    text-transform: capitalize;
    font-weight: 500;
    transition: all 0.3s ease;
    font-size: 16px;
    cursor: pointer;
    font-family: inherit;
    color: var(--azulFuerte);
    line-height: 1.5;
    user-select: none;
    border: none;
}

.btn-default {
    border: 2px solid var(--azulFuerte);
}

.btn-default:hover {
    color: white;
    background-color: var(--azulFuerte);
}

/* animation keyframes */
@keyframes zoomInOut {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}

@keyframes rotacion {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes cargarPagina {

    0%,
    100% {
        transform: translateX(-50px);
    }

    50% {
        transform: translateX(50px);
    }
}


/*TÍTULOS*/
.titulo-seccion {
    width: 100%;
    padding: 20px 20px;
    text-align: center;
    margin-bottom: 30px;
}

.titulo-seccion h2 {
    font-size: 35px;
}

.titulo-seccion h2::before {
    display: block;
    font-size: 30;
    color: white;
    font-family: var(--letraTitulo);
}


/*NAVEGADOR*/
.navbar {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--azulFuerte);
}

.nombre {
    font-size: 1.5rem;
    margin: .5rem;
    padding-left: 50px;
}

.nombre a {
    text-decoration: none;
    color: white;
    transition-duration: 1.5s;
}

.nombre a:hover {
    color: var(--azulClaro);
}

.navbar-secciones {
    height: 100%;
}

.navbar-secciones ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-secciones li {
    list-style: none;
    transition-duration: 1.5s;
    cursor: pointer;
}

.navbar-secciones li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-secciones li:hover {
    background-color: var(--azulMedio);
}

.navbar::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: transform 0.5s ease;
    transform: translateY(-100%);
}

.navbar.sticky::before {
    transform: translateY(0%);
}

.menu-hamburguesa {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.menu-hamburguesa .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}



/*HOME PAGE*/
.homepage {
    position: relative;
    overflow: hidden;

}

.homepage::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: 0.7;
    z-index: -1;
}

.homepage .fondo-homepage {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url(../img/bg2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    z-index: -2;
    animation: zoomInOut 20s ease infinite;
}


.homepage .caja {
    padding: 100px 0;
}

.profile-pic {
    width: 30%;
    padding: 0 30px;
    margin: auto;
}

.profile-pic img {
    border-radius: 70%;
    max-width: 100%;

}

.texto-bienvenida {
    padding: 0 15px;
    max-width: 500px;
    width: 100%;
    margin: auto;
    text-align: center;
    color: white;
}

.texto-bienvenida h1 {
    font-family: inherit;
    line-height: 100px;
    font-size: 60px;
    margin: 0 0 5px;
}

.texto-bienvenida p {
    margin: 0 0 30px;
    color: var(--azulMedio);
}

/*PERFIL*/

.seccion-perfil {
    background-color: var(--azulMedio);
}

.seccion-perfil .titulo-seccion {
    color: white;
}

.texto-perfil,
.perfil-img {
    width: 50%;
    padding: 0 15px;
}

.texto-perfil h3 {
    font-size: 30px;
    text-transform: capitalize;
    margin: 0 0 15px;
    color: white;
}

.texto-perfil p {
    margin: 0 0 15px;
}

.texto-perfil .boton {
    margin: 15px 0 0;
}

.perfil-img img {
    width: 90%;
    border-radius: 10px;
}

.perfil-img .img-box {
    position: relative;
}

.perfil-img .img-box::before {
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    border: 3px solid var(--azulFuerte);
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    animation: rotacion 10s linear infinite;
}

.perfil-img .img-box h3 {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    max-width: 250px;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}


/*FORMACIÓN*/
.seccion-formacion {
    background-color: var(--azulFuerte);
}

.seccion-formacion .titulo-seccion {
    color: white;
}

.seccion-formacion img {
    width: 20%;
}

.columna .escuela {
    align-items: center;
    letter-spacing: normal;
    text-align: center;
}

.escuela h3,
p {
    padding: 15px;
    text-align: center;
    color: var(--azulClaro)
}

.escuela h3 {
    color: var(--gris);
}

/*PROGRAMAS*/
.seccion-programas {
    background-color: var(--gris);
}

.seccion-programas .titulo-seccion {
    color: var(--azulFuerte);
}

.seccion-programas .fila {
    display: flex;
    justify-content: space-around;
}

.seccion-programas .programas {
    max-width: 10%;
    padding: 15px 10px;
    transition: all 0.3s ease;
}

.seccion-programas .programas:hover {
    transform: translateY(-15px);
}

/*EXPERIENCIA*/
.seccion-experiencia .titulo-seccion {
    color: var(--azulFuerte);
}

.seccion-experiencia h3 {
    color: var(--azulFuerte);
}

.seccion-experiencia h3 span {
    color: var(--azulMedio);
}

.seccion-experiencia p {
    color: black;
}

.seccion-experiencia .fila {
    border-bottom: 10px;
    border-bottom-color: var(--azulFuerte);
}

.seccion-experiencia .boton {
    display: inline-block;
    padding: 10px 30px;
    background-color: transparent;
    border-radius: 30px;
    text-transform: capitalize;
    font-weight: 500;
    transition: all 0.3s ease;
    font-size: 16px;
    cursor: pointer;
    font-family: inherit;
    color: var(--rojo);
    line-height: 1.5;
    user-select: none;
    border: none;
}

.seccion-experiencia .btn-default {
    border: 2px solid var(--rojo);
}

.seccion-experiencia .btn-default:hover {
    color: white;
    background-color: var(--rojo);
}





/*CV*/
.seccion-cv {
    background-color: var(--gris);
}

.seccion-cv .fila {
    display: flex;
    justify-content: center;
}


/*FOOTER*/
.seccion-contacto .titulo-seccion {
    color: white;
}

.seccion-contacto {
    background-image: url(../img/bg1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    z-index: 1;
}

.fondo-footer::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.seccion-contacto .fila {
    display: flex;
    align-items: center;
    justify-content: center;

}

.seccion-contacto .redes {
    color: white;
    width: 60px;
    padding-bottom: 40px;
}

i {
    font-size: 30px;
}

.seccion-contacto .columna h3 {
    color: white;
}

.seccion-contacto .columna a {
    color: white;
}

/*RESPONSIVE*/
@media(max-width:1000px) {}

@media(max-width:767px) {

    .texto-bienvenida h1 {
        font-size: 50px;
        line-height: 65px;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu-hamburguesa {
        display: flex;
    }

    .navbar-secciones {
        display: none;
        width: 100%;
    }

    .navbar-secciones ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-secciones ul li {
        text-align: center;
    }

    .navbar-secciones ul li a {
        padding: .5rem 1rem;
    }

    .navbar-secciones.active {
        display: flex;
    }

    .seccion-programas .fila {
        display: flex;
        flex-wrap: wrap;

    }

    .seccion-programas .programas {
        max-width: 25%;
    }

    .seccion-experiencia .fila {
        display: flex;
        flex-direction: column;
    }

    .seccion-experiencia .columna {
        width: 100%;
        text-align: center;
    }

    .seccion-experiencia .contenedor-img {
        width: 100%;
        display: flex;
        padding-left: 55px;
    }

    .seccion-perfil .texto-perfil {
        width: 100%;
        text-align: center;
    }

    .perfil-img {
        width: 100%;
        display: flex;
        padding-left: 55px;
    }
}

@media(max-width:650px) {
    .seccion-formacion .fila {
        display: flex;
        flex-direction: column;
    }

    .seccion-formacion .columna {
        width: 100%;
    }

    .seccion-programas .programas {
        max-width: 30%;
    }

    .seccion-contacto .columna {
        width: 100%;
    }
}

@media(max-width:400px) {}
